[submodule "contracts/re_grant_platform/lib/forge-std"]
	path = contracts/re_grant_platform/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/re_grant_platform/lib/openzeppelin-contracts"]
	path = contracts/re_grant_platform/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
