# NextJS
/.next/
/out/
/node_modules/
/yarn-error.log
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# FastAPI
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.pytest_cache/

# Alembic
alembic.ini
alembic_version.py

# Docker
docker-compose.override.yml
.dockerignore
.docker/

# Solidity
.vscode/
/cache/
/artifacts/
/coverage/
/typechain-types/
/deployments/
coverage.json
*.bin
*.abi

# General
.DS_Store
*.log
*.swp
*.lock
.idea/
.coverage

# Foundry/Solidity
contracts/regrant-contracts/cache/
contracts/regrant-contracts/out/
contracts/regrant-contracts/broadcast/
contracts/regrant-contracts/deployments/
contracts/regrant-contracts/lib/